/* Start Main Rulez */

body{
    background-color: #EEE;
}
/* End Main Rulez */

/*Start Posts*/


/*End Posts */

/* Start footer*/
.footers {
    background-color: #333;
    color: #EEE;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
/* End footer */